In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from processing import biosppy_processing, nk_processing
from time_domain import time
from tqdm.notebook import tqdm

## 1. Read Data

In [2]:
raw = pd.read_csv('ecg_70.txt', sep = ' ').T
raw

,1,2,3,4,5,6,7,8,9,10,...,239991,239992,239993,239994,239995,239996,239997,239998,239999,240000
id1,0.794525,0.790710,0.785828,0.781708,0.776520,0.772095,0.767212,0.762329,0.757141,0.752411,...,1.750950,1.688230,1.624760,1.560060,1.494600,1.428530,1.362300,1.295780,1.230010,1.164400
id2,0.033112,0.032196,0.031433,0.030670,0.030060,0.029144,0.028381,0.027771,0.027466,0.026703,...,-0.015564,-0.015564,-0.015869,-0.016022,-0.016327,-0.017090,-0.017700,-0.017853,-0.018616,-0.019226
id3,0.039368,0.036316,0.033875,0.031738,0.030518,0.029602,0.029144,0.029297,0.030365,0.031281,...,0.131683,0.130920,0.130463,0.130005,0.129852,0.129700,0.129547,0.129700,0.129852,0.129395
id4,-0.361328,-0.355072,-0.348663,-0.342712,-0.336456,-0.330963,-0.325470,-0.320129,-0.315094,-0.310364,...,-0.195160,-0.194702,-0.193939,-0.193634,-0.192261,-0.191803,-0.191193,-0.190735,-0.189972,-0.189514
id5,-0.017853,-0.016937,-0.016480,-0.015869,-0.015411,-0.014954,-0.014496,-0.014343,-0.014343,-0.014038,...,0.103607,0.079346,0.055542,0.033417,0.011444,-0.009155,-0.029144,-0.048065,-0.066223,-0.082703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
id69,0.095825,0.095825,0.095825,0.095673,0.095520,0.095215,0.095215,0.094910,0.094910,0.095062,...,0.083008,0.083618,0.083313,0.083771,0.083771,0.084228,0.084381,0.084686,0.084839,0.084839
id70,0.001526,0.002594,0.003662,0.004578,0.005798,0.006714,0.008240,0.009308,0.011139,0.012665,...,-0.070953,-0.088043,-0.103302,-0.116577,-0.128784,-0.139008,-0.148010,-0.155334,-0.161133,-0.166016
id71,-0.545654,-0.547791,-0.549164,-0.550690,-0.551758,-0.553131,-0.554047,-0.555115,-0.555878,-0.556793,...,0.080261,0.080414,0.080566,0.080566,0.080261,0.079803,0.079803,0.079651,0.079346,0.079346
id72,-0.001984,-0.003815,-0.004730,-0.006561,-0.007935,-0.009613,-0.011444,-0.013275,-0.014648,-0.016937,...,-0.074463,-0.074768,-0.074768,-0.074768,-0.074616,-0.074921,-0.074921,-0.074921,-0.075226,-0.075378
id73,0.135651,0.135956,0.136261,0.136871,0.137482,0.138092,0.139008,0.139160,0.139923,0.140381,...,1.353000,1.329500,1.302190,1.270750,1.235660,1.197050,1.154630,1.109010,1.061250,1.010130

## 2. processing : NK

In [3]:
result = dict()
for row in tqdm(raw.iterrows(), total = len(raw)):
    id = row[0]
    sampling_rate = 2000
    signal = row[1].tolist()
    pro = nk_processing(signal, sampling_rate)
    result[id] = time(pro['rpeaks'], 2000)
pd.DataFrame(result).T.describe()

  0%|          | 0/70 [00:00<?, ?it/s]

         pyhrv hr  pyhrv rmssd  pyhrv sdnn    nk rmssd     nk sdnn  biosspy hr
count   70.000000    70.000000   70.000000   70.000000   70.000000   70.000000
mean    86.103708    46.386937   58.128918   46.386937   58.128918   86.103708
std     14.355060    36.538871   30.867618   36.538871   30.867618   14.355060
min     58.641782     7.819379   17.361848    7.819379   17.361848   58.641782
25%     76.026205    24.936864   38.323416   24.936864   38.323416   76.026205
50%     84.522510    37.940362   54.356846   37.940362   54.356846   84.522510
75%     96.715280    59.505058   72.520292   59.505058   72.520292   96.715280
max    132.372495   213.568059  217.542216  213.568059  217.542216  132.372495

## 3. Processing : biosppy

In [5]:
result = dict()
for row in tqdm(raw.iterrows(), total = len(raw)):
    id = row[0]
    sampling_rate = 2000
    signal = row[1].tolist()
    pro = biosppy_processing(signal, sampling_rate)
    result[id] = time(pro['rpeaks'], 2000)
pd.DataFrame(result).T.describe()

  0%|          | 0/70 [00:00<?, ?it/s]

         pyhrv hr  pyhrv rmssd  pyhrv sdnn    nk rmssd     nk sdnn  biosspy hr
count   70.000000    70.000000   70.000000   70.000000   70.000000   70.000000
mean    85.939615    45.562897   57.095309   45.562897   57.095309   85.928710
std     14.592144    32.620434   24.376787   32.620434   24.376787   14.589446
min     55.460727     7.801501   17.390737    7.801501   17.390737   55.460727
25%     76.026298    24.806498   39.446140   24.806498   39.446140   76.026298
50%     84.305083    38.064108   55.316738   38.064108   55.316738   84.305083
75%     96.715669    59.423591   70.733164   59.423591   70.733164   96.715669
max    132.372674   191.918623  137.088713  191.918623  137.088713  132.372674